.novo-professor{
    background-color: #0d6efd;
    color: aliceblue;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
}

.novo-professor:hover{
    background-color: #0c61e2;
}

.top-menu ul {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    list-style: none;
    margin-right: 20px;
}

.menu {
    background-color: #e2f2ff;
    padding: 1px;
    margin-bottom: 10px;
}